{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/register" method="post">
         <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="passwordRepeat" placeholder="PasswordRepeat" type="password" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Register</button>
        </div>

    </form>

    {% if showAlert is sameas true %}
        <script>
        alert("{{message}}")
        window.location = '/login'
        </script>
    {% endif %}

{% endblock %}
